<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "me.jpeg" %>
	</div>

	<div id="content">
		<h1>Hi, I'm David</h1>
	    <p>I build software that helps people work more efficiently and love their jobs.</p>
        <p>In my free time, I cook, make music, and play games.</p>
	</div>
</div>